FIREBASE_SERVICE_ACCOUNT=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
DC_ONLINE_INVOICE_URL=
DC_ONLINE_INVOICE_API_KEY=
DC_PUBLIC_PRODUCTS_URL=https://glass-system-backend.onrender.com/public/products
DC_PUBLIC_STOCK_URL=https://glass-system-backend.onrender.com/public/stock
SERVER_STATUS_DATABASE_PRIMARY_URL=
SERVER_STATUS_DATABASE_FALLBACK_URL=
SERVER_STATUS_DATABASE_SSL=false
LOCAL_SERVER_STATUS_URL=http://127.0.0.1:5000/api/local-server-status